nav{
    background-color: antiquewhite;
}

nav a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: black;
}

nav a:hover{
    background-color: #c5a25d;
    color: #fff;
}

.col-50{
    float: left;
    width: 50%;
    padding: 10px;
}

.col-33{
    float: left;
    width: 33.33%;
    padding: 10px;
}

.row:after{
    content:"";
    display: table;
    clear: both;
}

*{
    box-sizing: border-box;
}

.product-detail{
    padding: 60px;
}

.product-detail .content{
    padding: 50px;
}

.product-detail h1{
    color: black;
    text-align: center;
}

.product-detail h2{
    color: #c5a25d;
    text-align: left;
    font-size: 1rem;
}

.product-detail p{
    font-size: 1rem;
    line-height: 1.5rem;
}

.product-detail a.btn{
    text-decoration: none;
    padding: 20px;
    background-color: black;
    margin-top: 40px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.product-detail a.btn:hover{
    background-color: #c5a25d;
}

.anh{
    height: 400px;
  }
.mota{
    font-size: 1.5em;
    font-weight: bold;
  }

.gia{
    color: #c5a25d;
    font-weight: bold;
}

.sanpham{
  display: inline-block;  
  padding: 30px 30px;
}

.sanpham:hover{
    border-width: 2px; /* Độ dày của đường viền */
    border-style: solid; /* Kiểu đường viền (dashed, dotted, solid, double, etc.) */
    border-color: #c5a25d; /* Màu của đường viền */
}

.chuasanpham{
    padding: 30px 30px;
    font-weight: 600;    
}

.chuasanpham:hover{
    border-width: 2px; /* Độ dày của đường viền */
    flex-basis: 33.33%;
}   

  #footer{ 
    background-color: #000;
    color:#fff;
    text-align: center;
    padding: 10px 10px;

}