*{
    padding:0;
    margin:0;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
.inner-header{
    margin: 0px auto;
    max-width: 1200px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    background-color: white;
}

header{
    background:#222048;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
    padding: 20px 0px;
    transition: all 0.5s ease-in-out;
}

header.sticky{
    background:#222048;
    opacity:0.9;/*trong suốt*/
    color:#000;
    padding: 15px 0px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);

}

header.sticky #logo{
    color:#fff;
}

header.sticky #main-menu a{
    color: #fff;
}

.inner-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    color:white;
    text-transform:uppercase ;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: bold;
}

ul#main-menu {
    display:flex;
}

ul#main-menu a{
    text-transform: uppercase ;
    padding: 10px 15px; /*căn chỉnh khoảng cách trên dưới trái phải của chữ so với thanh menu*/
    color:white;
    display:block;
    font-weight: bold;/* câu lệnh in đậm lên*/
}
ul#main-menu a:hover{
    color:#f4e46d;
}

#main-menu>li:hover>a::before{
    width:20%;
    text-transform: translatex(10%) ;
}

h4{
    font-size: 80px;
    color:black;
    text-shadow: 0px 0px 0px #d2dad8;
    font-family: Brush Script MT;
    margin: 0px;
}

.col-50{
    float:left;
    width:50%;
    padding:0px;
}


.row::after{
    content:"";
    display:table;
    clear:both;

}

.product-detail{
    padding:100px;
}

.product-detail h1{
    color:#0e0e0e;
    font-size: 1.5rem;
    padding: 10px;
}
.product-detail h2{
    color:#ff8a44;
    font-weight: bold;
    font-size: 1.0rem; 
    padding: 10px;
}
.product-detail p {
    color:#0e0e0e;
    font-size: 1.0rem; 
    padding: 10px;
}

.product-detail h3 {
    color:#0e0e0e;
    font-weight: bold;
    font-size: 1.0rem; 
    padding: 10px;
}
.product-detail button{
    display:block;
    background:#222048;
    color:#fff;
    width:100%;
    padding: 20px 0px;
    text-align: auto;
    font-weight: bold;
    border: none;
    margin: 30px;
}
.product-detail button:hover{
    background:#fff;
    text-transform: uppercase;
    outline: none;
    color:#222048;
    border: 2px solid #222048;
    border-radius: 5px;
}

 .headline{
    text-align: left;
}

h6{
    margin:1.0rem;
    font-size: 18px;
    color:#111;
    text-transform: uppercase;
    color:#0c0c0c;
    font-weight: 500;
}
ul.products{
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.products li{
    flex-basis: 33.33%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; /*giữa khoảng cách tính từ ngoài vào*/
    /* margin-bottom: 30px; /*kkhoảng cách giữa 2 hàng*/
}
ul.products li img{
    max-width: 100%;
    height: auto;
}
.product-name{
    text-decoration: none;
    font-weight: bold;
    color:#0e0e0e;
    padding : 3px 0px;
}
 .product-price{
    font-weight: bold;
    color:#c5a25d;
    font-weight: 600;
    padding:2px 0px;
}
.product-item{
    font-size: 18px;
    padding:30px 20px;
    font-weight: 600;
 
}
.product-item:hover{
    display:inline-block; 
    display:inline-block;/*cho khung vừa vặn với tiêu đề*/
    border-width: 2px; /* Độ dày của đường viền */
    border-style: solid; /* Kiểu đường viền (dashed, dotted, solid, double, etc.) */
    border-color: #c5a25d; /*Màu của đường viền*/
}


@media screen and (max-width: 1000px){
    #main-menu{
        flex-direction: column;
        text-align: left;
    }
    #toggle{
        display: block;
    }
    nav{
        display:none ;
    }
}

#toggle{ 
    color:#0a0a0a;
    text-align: right;
    padding: 0px 20px;
    font-size: 20px;
    cursor: pointer;
}

